{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block content %}
    <h1>Config list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Group</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for config in configs %}
            <tr>
                <td><a href="{{ path('config_show', { 'id': config.id }) }}">{{ config.id }}</a></td>
                <td>{{ config.value }}</td>
                <td>{{ config.group }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('config_show', { 'id': config.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('config_edit', { 'id': config.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('config_create') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
